@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Borno Way<br />
    Lagos Mainland<br />
    <abbr title="Phone">P:</abbr>
    08012345678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@ssms.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ssms.com</a>
</address>
